
<div class="d-flex justify-content-center">
    <div class="container">
        <br><br>
        <form [formGroup] = "formData" (ngSubmit) = "onClickSubmit()">
            <div *ngFor="let form of forms">
                <mat-form-field *ngIf="form.type != 'select'" [style.width.%]="100" appearance="outline">
                  <mat-label>{{form.fieldName}}</mat-label>
                  <input matInput [name]=form.fieldName [value]=form.value placeholder="Placeholder" formControlName="{{form.fieldName}}">
                </mat-form-field>
                <mat-form-field *ngIf="form.type == 'select'" [style.width.%]="100" appearance="fill">
                    <mat-label>Choose an option</mat-label>
                    <mat-select [value]=form.value formControlName="{{form.fieldName}}">
                      <mat-option *ngFor="let option of form.options"  value="{{option}}">{{option}}</mat-option>
                </mat-select>
            </mat-form-field>
            </div>
            <button type="submit" mat-raised-button color="primary">Submit</button>
        </form>
        <div class="container" *ngIf="postResult != null">
            <p>{{postResult.message}}</p>
        </div>
    </div>
 </div>

